:root {
  --ms-header-h: 70px;

  --ms-gray: #E5E5E5;
  --ms-gray-l: #F8F9FA;
  --ms-blue-d: #051E34;
  --ms-orange: #FF8F00;
}
/* UTILITY */
.ms-bg-gray{
  background-color: var(--ms-gray);
}

.ms-text-orange{
  color: var(--ms-orange);
}

/* COMPONENTS */

/*************************************************
    GENERAL STYLES
 *************************************************/
body{
  font-family:Arial, Helvetica, sans-serif;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--ms-gray-l);
}
/* HEADER */
.header{
  width: 100%;
  height: var(--ms-header-h);
}

.header .navbar-brand {
  width: 25px;
  transition: width 0.3s;
}

/* ASIDE */
.aside{
  width: 65px;
  flex-shrink: 0;
  background-color: #051E34;
  background-image: url("../img/sidebar-bg.png");
  background-size: cover;
  color: white;
  transition: width 0.3s;
}

/* MAIN */
.ms_tab-ico{
  width: 30px;
}

/*************************************************
    MEDIA RESPONSIVE
 *************************************************/
/* breakpoints Medium*/
@media (min-width: 768px) {
  /* ASIDE */

  /* MAIN */
}
/* breakpoints Large*/
@media (min-width: 992px) {
  .header .navbar-brand {
    width: 133px;
  }
  /* ASIDE */
  .aside{
    width: 150px;
  }
  /* MAIN */
}

 /*************************************************
    DEBUG
 *************************************************/
 .debug :is(header, main, aside){
  border: 10px dashed rgba(250, 0, 0, 0.3);
}

.debug .row {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.debug [class^="col"] {
  background-color: #daa52062;
}

