:root {
  --ms-header-h: 70px;

  --ms-gray-l: #F8F9FA;
  --ms-blue-d: #051E34;
}
/* UTILITY */


/* COMPONENTS */

/*************************************************
    GENERAL STYLES
 *************************************************/
body{
  font-family:Arial, Helvetica, sans-serif;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--ms-gray-l);
}
/* HEADER */
.header{
  width: 100%;
  height: var(--ms-header-h);
}

/* ASIDE */
.aside{
  width: 65px;
  background-color: #051E34;
  background-image: url("../img/sidebar-bg.png");
  background-size: cover;
  color: white;
}

/* MAIN */


/*************************************************
    MEDIA RESPONSIVE
 *************************************************/
/* breakpoints Medium*/
@media (min-width: 768px) {
  /* ASIDE */

  /* MAIN */
}
/* breakpoints Large*/
@media (min-width: 992px) {
  /* ASIDE */
  .aside{
    width: 150px;
  }
  /* MAIN */
}

 /*************************************************
    DEBUG
 *************************************************/
 .debug :is(header, main, aside){
  border: 10px dashed rgba(250, 0, 0, 0.3);
}

.debug .row {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.debug [class^="col"] {
  background-color: #daa52062;
}

